<configuration scan="true" scanPeriod=" 5 seconds" debug="false">
	<jmxConfigurator />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<appender name="DELAY_ROOT" class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator>
			<Key>logType</Key>
			<DefaultValue>delay</DefaultValue>
		</discriminator>
		<sift>
			<appender name="FILE-${logType}" class="ch.qos.logback.core.rolling.RollingFileAppender">
				<File>../logs/${logType}.log</File>
				<rollingPolicy
					class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
					<!-- rollover daily -->
					<fileNamePattern>../logs/%d{yyyy-MM-dd}/${logType}-%d{yyyy-MM-dd}-%i.log.gz</fileNamePattern>
					<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
						<!-- or whenever the file size reaches 100MB -->
						<maxFileSize>32MB</maxFileSize>
					</timeBasedFileNamingAndTriggeringPolicy>
					<maxHistory>10</maxHistory>
				</rollingPolicy>
				<encoder>
					<pattern>
						%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - %msg%n
					</pattern>
				</encoder>
			</appender>
		</sift>
	</appender>
	
    <logger name="com.github.haiger.dqueue" additivity="false">  
        <level value="INFO" />  
        <appender-ref ref="DELAY_ROOT" />
    </logger>
    
	<root level="INFO">
	    <!-- <appender-ref ref="STDOUT"/> -->
		<appender-ref ref="DELAY_ROOT" />
	</root>
</configuration>